.input{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins Regular", sans-serif;
    color: $violet;
    border: none;
    &::placeholder{
        color: $violet;
    }
}