.navigation {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    &__btn {
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        border-radius: 17px;
        padding: 10px 15px;
    }

    &__select {
        outline: 0;
    }
}