.navigation {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    &__btn {
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        border-radius: 17px;
        padding: 10px 15px;
    }

    &__select {
        outline: 0;
    }

    &__clear{
        position: relative;
        border: none;
        width: 40px;
        height: 30px;
        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 2px;
            border-radius: 4px;
            background-color: $violet;
            width: 20px;
        }
        &:before{
            transform: rotate(-45deg);
        }
        &:after{
            transform: rotate(45deg);
        }
    }
}