//colors
$white: #fff;
$violet-light: #e3e9ff;
$violet: #af7eeb;
$grey: #959fbd;
//fonts
$poppins-regular: 'Poppins Regular';
$poppins-medium: 'Poppins Medium';
$poppins-semiBold: 'Poppins SemiBold';
$sans-serif: sans-serif;
//bp
$desktop-bp: 1200px;
$tablet-bp: 1024px;
$mobile-bp: 768px;