.todolist {
    max-width: 500px;
    width: 100%;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        padding: 40px 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
    }

    &__item {
        display: block;
        width: 100%;
        svg {
            display: none;
            width: 20px;
            height: 20px;
            pointer-events: none;
        }

        &:hover {
            svg {
                display: block;
            }
        }
    }

    &__text {
        font-family: $poppins-semiBold, $sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: $grey;
        text-align: justify;
        padding-left: 10px;
    }

    &__cart {
        position: absolute;
        right: 10px;
        top: 0;
    }

    &__button {
        position: absolute;
        bottom: -22px;
    }


    &__label {
        position: relative;
        display: flex;
        padding-right: 36px;
    }

    &__indicator {
        display: inline-block;
        min-width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 2px solid $grey;
        color: transparent;
        margin-top: 4px;
    }

    &__checkbox {
        display: none;
        cursor: pointer;
    }

    &__checkbox:checked + .todolist__label {
        text-decoration: line-through;
        color: $grey;
        opacity: 0.7;
    }

    &__checkbox:checked + .todolist__label .todolist__indicator {
        background-color: $grey;
    }

    &__copy{
        position: absolute;
        right: 40px;
    }


}



