.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $violet-light;
    padding: 10px;
}
.todolist{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    &__title,
    &__list{
        width: 100%;
    }
    &__title{
        background-color: $violet;
        font-family: $poppins-semiBold, $sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        text-align: center;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }
    &__arrow{
        position: absolute;
        top: 16px;
    }
    &__arrow.left{
        left: 25px;
    }
    &__arrow.right{
        right: 25px;
    }
    &__list{
        padding: 26px 10px;
        margin-bottom: 30px;
    }
    &__item{
        padding: 10px 20px;
        position: relative;
        &:last-child{
            padding-bottom: 35px;
        }
        svg{
            display: none;
        }
        &:hover{
            svg{
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }
    &__cart{
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
    }
    &__text{
        font-family: $poppins-semiBold, $sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: $grey;
        text-align: justify;
        margin: 0 45px 0 10px;
    }

    &__wrapper{
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__button{
        position: absolute;
        bottom: 10px;
        font-family: $poppins-semiBold, $sans-serif;
        font-size: 18px;
        line-height: 20px;
        color: $white;
        border-radius: 20px;
        padding: 12px 30px;
        display: inline-block;
        background-color: $violet;
        transition: .2s linear;
        &:hover{
            box-shadow: 200px 0 0 0 rgba(0,0,0,.4) inset;
        }
    }

    &__label{
        display: flex;
    }

    &__indicator{
        display: inline-block;
        min-width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 2px solid $grey;
        color: transparent;
        margin-top: 4px;
    }

    &__checkbox{
        display: none;
        cursor: pointer;
    }
    &__checkbox:checked+.todolist__label {
        text-decoration: line-through;
        color: $grey;
        opacity: 0.7;
    }
    &__checkbox:checked+.todolist__label .todolist__indicator {
        background-color: $violet;
    }

    &__nav{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        &-btn{
            font-size: 14px;
            line-height: 16px;
            color: #fff;
            border-radius: 17px;
            padding: 10px 15px;
        }
        &-select{
            outline: 0;
        }
    }

    &__input{
        &-btn{
            padding: 10px 25px;
        }
    }

    &__form {
        &-add {
            display: flex;
            align-items: center;
        }
    }
}



