//utils
@import './utils/reset';
@import "./utils/fonts";
@import "./utils/variable";
@import "./utils/mixins";
@import "./utils/my-normalize";

//components
@import "./components/paper";
@import "./components/inputs";
@import "./components/btns";

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $violet-light;
    padding: 10px;
}

//modules
@import "./components/header";
@import "./components/navigation";
@import "./components/form-add";
@import "./sections/todolist";
